# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.vcxproj.filters
*.vcxproj.user
*.suo
*.db
*.ipch
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ilk
*.opendb
*.enc
*.json
*.sqlite
*.cmake
*.bin
*.check_cache
*.cxx
*.inl

